<header class="header">
  <div class="container conteiner-header">
    <nav class="heder-nav">
      <a class="logo" href="./index.html"
        >web<span class="studio">Studio</span></a
      >

      <ul class="nav-list">
        <li>
          <a class="listheader curent" href="./index.html">Studio</a>
        </li>
        <li><a class="listheader" href="">Portfolio</a></li>
        <li><a class="listheader" href="">Contacts</a></li>
      </ul>
    </nav>
    <address class="adress">
      <div class="nav-div">
        <ul class="adress-list">
          <li>
            <a class="adresslisttext" href="mailto:info@devstudio.com"
              >info@devstudio.com</a
            >
          </li>
          <li>
            <a class="adresslisttext" href="tel:+110001111111"
              >+11 (000) 111-11-11</a
            >
          </li>
        </ul>
      </div>
    </address>
    <button class="heder-menu-button js-open-menu" type="button">
      <svg class="close" width="24" height="24">
        <use href="./images/icons.svg#icon-heroicons-solid_menu"></use>
      </svg>
    </button>
  </div>
</header>
<!-- menu -->
<div class="menu-conteiner js-menu-container">
  <button class="mob-button-close js-close-menu" type="button">
    <svg class="close" width="8" height="8">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mobil-menu-list">
    <li class="mobil-menu-item">
      <a class="mobilmenu-link current header-link" href="./index.html"
        >Studio</a
      >
    </li>
    <li class="mobil-menu-item">
      <a class="mobilmenu-link header-link" href="">Portfolio</a>
    </li>
    <li class="mobil-menu-item">
      <a class="mobilmenu-link header-link" href="">Contacts</a>
    </li>
  </ul>
  <ul class="mobil-adress-list">
    <li class="mob-adres-item">
      <a class="mobile-adresslisttext current" href="tel:+110001111111"
        >+11 (000) 111-11-11</a
      >
    </li>
    <li class="mob-adres-item">
      <a class="mobile-adresslisttext" href="mailto:info@devstudio.com"
        >info@devstudio.com</a
      >
    </li>
  </ul>
  <ul class="mobile-sotial-icons">
    <li class="personal-icon-inst">
      <a href="#" target="_blank" class="personal-linc"
        ><svg class="icons" width="16" height="16">
          <use href="./images/icons.svg#icon-instagram-2"></use>
        </svg>
      </a>
    </li>
    <li class="personal-icon-inst">
      <a href="#" target="_blank" class="personal-linc"
        ><svg class="icons" width="16" height="16">
          <use href="./images/icons.svg#icon-twitter-1"></use>
        </svg>
      </a>
    </li>
    <li class="personal-icon-inst">
      <a href="#" target="_blank" class="personal-linc"
        ><svg class="icons" width="16" height="16">
          <use href="./images/icons.svg#icon-facebook-1"></use>
        </svg>
      </a>
    </li>
    <li class="personal-icon-inst">
      <a href="#" target="_blank" class="personal-linc"
        ><svg class="icons" width="16" height="16">
          <use href="./images/icons.svg#icon-linkedin-1"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
